<?xml version="1.0" encoding="utf-8"?>
<manifest>
    <!-- دسترسی بلوتوث برای چاپگرهای ESC/POS -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
</manifest>
